.hero {
  width: 100%;
  background-image: url("../images/Hero-Desktop-Surface-Laptop-Copilot-PC-Platinum-FY26HOL.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
